# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List Data Science Tools (Table)
- Create a code cell to multiply and add numbers

Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. Julia
4. SQL
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. TensorFlow

|Data Science Tools|
|------------------|
|Jupiter|
|RStudio|
|IBM Watson Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335




## Author
Laura